<div class="container-fluid projects">
    <h1 class="text-center"> Recent Work </h1>
    <hr>

    <div class="row">
        <!-- PROJECT 1-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 mb-4" data-aos="zoom-in" data-aos-offset="200" data-aos-delay="100" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-bottom">
            <div class="outterColumn">
                <div class="projectColumn">
                    <div class="projectContent">
                        <div class="card back">
                            <div class="card-body projectCard" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.7)), url(assets/images/awwwards-back.png);">
                                <div class="backText">
                                    <p class="card-text" style="background-color: teal; color: whitesmoke;"> <strong> Projects/Sites-Awwwards:</strong> A django application that allows a user to post a project he/she has created. </p>
                                    <p class="card-text">
                                        <a href="https://sites-awwwards.herokuapp.com/" class="btn btn-sm projectLink" target="_blank">
                                            <span> Visit site </span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card front" style="background: #DCDCDC;">
                            <img class="projectImg" src="assets/images/awwwards.png" alt="awards">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- PROJECT 2 -->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 mb-4" data-aos="zoom-in" data-aos-offset="200" data-aos-delay="500" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-bottom">
            <div class="outterColumn">
                <div class="projectColumn">
                    <div class="projectContent">

                        <div class="card back">
                            <div class="card-body projectCard" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.7)), url(assets/images/GHsearch-back.png);">
                                <div class="backText">
                                    <p class="card-text" style="background-color: teal; color: whitesmoke;"> <strong> GitHub Search:</strong> An angular-based website that enables the search of GitHub users and their repositories. </p>
                                    <p class="card-text">
                                        <a href="https://rosekairu.github.io/GitSearch/home" class="btn btn-sm projectLink" target="_blank">
                                            <span> Visit site </span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card front" style="background: #DCDCDC;">
                            <img class="projectImg" src="assets/images/GHsearch.png" alt="Github Search">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- PROJECT 3 -->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 mb-4" data-aos="zoom-in" data-aos-offset="200" data-aos-delay="1000" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-bottom">
            <div class="outterColumn">
                <div class="projectColumn">
                    <div class="projectContent">

                        <div class="card back">
                            <div class="card-body projectCard" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.7)), url(assets/images/e-album-back.png);">
                                <div class="backText">
                                    <p class="card-text" style="background-color: teal; color: whitesmoke;"> <strong> E-album: </strong> A python-Django web-app that displays your photos. </p>
                                    <p class="card-text">
                                        <a href="https://e-album.herokuapp.com/" class="btn btn-sm projectLink" target="_blank">
                                            <span> Visit site </span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card front" style="background: #DCDCDC;">
                            <img class="projectImg" src="assets/images/e-album.png" alt="Pawame Intranet">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- PROJECT 4 -->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 mb-4" data-aos="zoom-in" data-aos-offset="200" data-aos-delay="1000" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-bottom">
            <div class="outterColumn">
                <div class="projectColumn">
                    <div class="projectContent">

                        <div class="card back">
                            <div class="card-body projectCard" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.7)), url(assets/images/blogs.png);">
                                <div class="backText">
                                    <p class="card-text" style="background-color: teal; color: whitesmoke;"> <strong> KairuBlogs: </strong> A python-flask based blogging web-app where users can create and share their opinions. <a href="https://e-album.herokuapp.com/" target="_blank"> An Online E-album </a> </p>
                                    <p class="card-text">
                                        <a href="https://kairublogs.herokuapp.com/" class="btn btn-sm projectLink" target="_blank">
                                            <span> Visit site </span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card front" style="background: #DCDCDC;">
                            <img class="projectImg" src="assets/images/blogs.png" alt="blog">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- PROJECT 5 -->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 mb-4" data-aos="zoom-in" data-aos-offset="200" data-aos-delay="1000" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-bottom">
            <div class="outterColumn">
                <div class="projectColumn">
                    <div class="projectContent">

                        <div class="card back">
                            <div class="card-body projectCard" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.7)), url(assets/images/pomodoro.png);">
                                <div class="backText">
                                    <p class="card-text" style="background-color: teal; color: whitesmoke;"> <strong> Pomodoro: </strong> An App that helps you manage your Time More Efficiently. <a href="https://tomateminuteur.herokuapp.com/" target="_blank"> timer </a> </p>
                                    <p class="card-text">
                                        <a href="https://kairublogs.herokuapp.com/" class="btn btn-sm projectLink" target="_blank">
                                            <span> Visit site </span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card front" style="background: #DCDCDC;">
                            <img class="projectImg" src="assets/images/pomodoro.png" alt="blog">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- PROJECT 6 -->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 mb-4" data-aos="zoom-in" data-aos-offset="200" data-aos-delay="1000" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-bottom">
            <div class="outterColumn">
                <div class="projectColumn">
                    <div class="projectContent">

                        <div class="card back">
                            <div class="card-body projectCard" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.7)), url(assets/images/quotes.png);">
                                <div class="backText">
                                    <p class="card-text" style="background-color: teal; color: whitesmoke;"> <strong> Quotes: </strong> An Angular application where users can create quotes and have those quotes voted on. <a href="https://rosekairu.github.io/Quotes/" target="_blank"> Quotes </a> </p>
                                    <p class="card-text">
                                        <a href="https://rosekairu.github.io/Quotes/" class="btn btn-sm projectLink" target="_blank">
                                            <span> Visit site </span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card front" style="background: #DCDCDC;">
                            <img class="projectImg" src="assets/images/quotes.png" alt="blog">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- END OF ROW-->

</div>