<div class="container contact" data-aos="zoom-out-down" data-aos-offset="200" data-aos-delay="100" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-bottom">
    <h1 class="text-center"> Get in Touch </h1>
    <hr>
    <div class="row">
        <!-- <div class="jumbotron"> -->

        <div class="col-12 socialLinks">

            <p class="telnmail mr-5" data-hover="0724-719-227"> <i class="fas fa-mobile-alt animated infinite pulse"></i> </p>

            <a class="telnmail mr-5 mail" data-hover="rosekairu@gmail.com" href="https://mail.google.com/mail/?view=cm&fs=1&to=rosekairu@gmail.com&su=Software Dev Collaboration&body=Hi Rose, ..." target="_blank"> <i class="fas fa-envelope-open-text animated infinite pulse"> </i> </a>


            <p class="mr-5 animated infinite pulse">
                <a href="https://github.com/rosekairu" target="_blank"> <i class="fab fa-github"> </i> </a>
            </p>

            <p class="animated infinite pulse">
                <a href="https://www.linkedin.com/in/rose-kairu-89419751/" target="_blank"> <i class="fab fa-linkedin"> </i> </a>
            </p>

        </div>

    </div>
</div>