<div class="container-fluid projects">
    <h1 class="text-center"> About Me</h1>
    <hr>

    <div class="box-shadow-full">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-6 col-md-5">
                        <div class="about-img">
                            <img src="assets/images/rose.jpg" class="img-fluid rounded b-shadow-a" alt="">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-7">
                        <div class="about-info">
                            <p><span class="title-s">Name: </span> <span>Rose Kairu</span></p>
                            <p><span class="title-s">Profile: </span> <span>Full Stack Developer</span></p>
                            <p><span class="title-s">Email: </span> <span>rosekairu@gmail.com</span></p>
                            <p><span class="title-s">Phone: </span> <span>+254 724-719-227</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">

                    <p class="lead">I am a competent and assertive fullstack developer, looking for a job in my field of study i.e Software development. I completed university in 2017 and have recently completed my certificate in software development at Moringa.
                    </p>
                    <p class="lead"> Creative thinking and problem solving are activities I really enjoy and find fascinating, therefore going into a field such as software engineering seemed like a natural option.</p>
                    <p class="lead">
                        I have gained the following skills over the time.
                    </p>
                </div>
            </div>
        </div>
        <!-- END OF ROW-->
    </div>
    <hr>
</div>
