<div id="home" class="container-fluid home">

    <div class="row justify-content-center homerow">

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 introimg" data-aos="fade-right" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-bottom">
            <img class="rounded-circle avatar" src="assets/images/Rose.jpg" alt="Avatar">
        </div>

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 intro">

            <div data-aos="fade-left" data-aos-offset="140" data-aos-delay="700" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-bottom">
                <h4> Hi there!</h4>
            </div>

            <div data-aos="fade-left" data-aos-offset="180" data-aos-delay="1200" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-bottom">
                <p> I'm Rose Kairu, </p>
            </div>

            <div data-aos="fade-left" data-aos-offset="200" data-aos-delay="1500" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-bottom">
                <p> <i class="fas fa-check-circle" aria-hidden="true" style="font-size: 16px;"> </i> a full-stack developer, </p>
            </div>

            <div data-aos="fade-left" data-aos-offset="200" data-aos-delay="2000" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-bottom">
                <p> <i class="fas fa-check-circle" aria-hidden="true" style="font-size: 16px;"> </i> passionate about creating solutions and fun-spaces using technology, </p>
            </div>

            <div data-aos="fade-left" data-aos-offset="200" data-aos-delay="2500" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-bottom">
                <p> <i class="fas fa-check-circle" aria-hidden="true" style="font-size: 16px;"> </i> doing what I love and loving what I do! </p>
            </div>

            <div data-aos="fade-left" data-aos-offset="200" data-aos-delay="2800" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-bottom">
                <a href="#blog" class="mr-auto btn btn-dark seeMore" style="vertical-align:middle"><span>See More... </span></a>
            </div>
        </div>
    </div>
</div>

<app-blog id="blog"> </app-blog>

<app-about id="about"> </app-about>

<app-projects id="projects"> </app-projects>

<app-contact id="contact"> </app-contact>